<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateBlog</title>
</head>
<body>
    <form action="/blogs" method="POST">
        <input type="text" name="title"required>
        <textarea name="content" placeholder="Content" required> </textarea>
        <button type="submit"> Create </button>
    </form>    
</body>
</html>